kube-prometheus-stack:
  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelector: {}
      serviceAccountName: prometheus-sa
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: standard
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi
    service:
      type: ClusterIP

grafana:
  enabled: true
  persistence:
    enabled: true
  serviceAccount:
    create: true
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin