prometheus:
  enabled: true
  serviceAccount:
    create: true
    name: prometheus-sa
  persistence:
    enabled: true
    storageClass: standard
    size: 20Gi
  service:
    type: ClusterIP
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 30d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
prometheusOperator:
  enabled: true

grafana:
  enabled: true
  persistence:
    enabled: true
    storageClassName: standard
    size: 10Gi
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin