prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorNamespaceSelector: {}
    serviceMonitorSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false
  persistence:
    enabled: true
    storageClass: standard
    size: 20Gi
  service:
    type: ClusterIP
  additionalServiceMonitors:
    - name: "default-service-monitor"
      selector:
        matchExpressions:
          - key: app.kubernetes.io/name
            operator: Exists
      namespaceSelector:
        any: true
      endpoints:
        - port: metrics
          path: /metrics
          interval: 30s
          scheme: http
  additionalPodMonitors:
    - name: "default-pod-monitor"
      selector:
        matchLabels:
          monitor.arcelormittal.digital/pod-monitor: "true"
      namespaceSelector:
        any: true
      podMetricsEndpoints:
        - port: metrics




grafana:
  enabled: true
  persistence:
    enabled: true
    storageClassName: standard
    size: 10Gi
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin