prometheus:
  enabled: true
  serviceAccount:
    create: true
    name: prometheus-sa
  persistence:
    enabled: true
    storageClass: standard
    size: 10Gi
  service:
    type: ClusterIP
  prometheusSpec:
    serviceMonitorSelector: {}

grafana:
  enabled: true
  persistence:
    enabled: true
    storageClassName: standard
    size: 10Gi
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin

kubeStateMetrics:
  enabled: true
  serviceAccount:
    create: true
  service:
    type: ClusterIP

nodeExporter:
  enabled: true
  serviceAccount:
    create: true
  service:
    type: ClusterIP