prometheus:
  prometheusSpec:
    serviceMonitorSelector: {}
    serviceAccountName: prometheus-sa
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
grafana:
  enabled: true
  persistence:
    enabled: true
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin
kubeStateMetrics:
  enabled: true
nodeExporter:
  enabled: true