prometheus:
  serviceAccount:
    create: true
    name: prometheus-sa
  persistence:
    enabled: true
  service:
    type: ClusterIP

grafana:
  enabled: true
  persistence:
    enabled: true
  serviceAccount:
    create: true
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin